 .navbar-brand, .nav-link, .dropdown-item{
    color: #11174B;
}
.navbar-brand:hover, .nav-link:hover{
    color: #FB2E86;
}
/*
 @media (min-width: 1200px)
 .navbar{
     max-width: 1352;
 }
 
 @media (min-width: 992px)
 .navbar {
     max-width: 960px;
 }
 @media (min-width: 768px)
 .navbar {
     max-width: 720px;
 }
 @media (min-width: 576px)
 .navbar{
     max-width: 540px;
 }
*/
.navbar-brand{
    margin-right: auto;
    
}
.sticky-top{
    position: sticky;
}

/*Toggle Button*/
.bars{
    color: #FB2E86;
}


/*Search Bar*/
.input {
    padding: 10px;
    width: 25px;
    height: 25px;
    background: none;
    border: 2px solid #FB2E86;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 16px;
    color: #252525;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 120px;
    background: #FB2E86;
    border-color: #FB2E86;
    opacity: 0.5;
    border-radius: 5px;
}
.search-icon{
    position: absolute;
    font-size: 16px;
    color: #FB2E86;
    transform: translate(4px,-25px);    
    transition: .2s;
}

.box:hover .search-icon{
    opacity: 0;
    z-index: -1;
}

.dropdown-menu{
    background-color:rgb(251,46,134,0.7) ;
}
.dropdown-item{
    color:#fff;
}
.dropdown-item:hover{
    color:#7E33E0;
    background-color: rgba(255,255, 255,0.5);
}
#navbarSupportedContent .btn{
    margin: 5px 5px 5px 15px;
    border-radius: 2px;
    border-width: 2px;
    color: #Fff;
    background-color:rgb(251,46,134,1);
}
#navbarSupportedContent .btn:hover{
    background-color:rgb(251,46,134,0.7) ;
}