<div class="container d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center" id="footer">
    <div class="links d-flex row justify-content-center">

      <div class="d-flex justify-content-center sub-links col-4">
        <div class="row">
        <a class="footer-links col-md-4 col-sm-12 "  href="#">Mobile App</a>
        <a  class="footer-links col-md-4 col-sm-12 " href="#">Community</a>
        <a class="footer-links col-md-4 col-sm-12 " href="#">Company</a>
        </div>
      </div>
      
      <div class="col-4" >
        <div class="row justify-content-center">
        <a href="#">
          <img
            src="assets/img/flaticon.png"
            alt="logo"
            width="130px"
            height="60px"
          />
        </a>
        </div>
      </div>

      <div class="sub-links col-4">
        <div class="row">
        <a class="footer-links col-md-4 col-sm-12" href="#">Help Desk</a>
        <a class="footer-links col-md-4 col-sm-12" href="#">Blog</a>
        <a class="footer-links col-md-4 col-sm-12" href="#">Resources</a>
        </div>
      </div>
    </div>
    
    <div id="trademark">
      <p>Made with <span>❤</span> by Deepak</p>
    </div>
  </div>
</div>


<!--TEST CODE-->
<!--
    <div class="container d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center" id="footer">
    <div class="links d-flex row justify-content-center">
      <div class="sub-links col-md-4">
          <div class="row">
            <a class="footer-links col-md-4 col-sm- col-" href="#">Mobile App</a>
            <a class="footer-links col-md-4 col-sm- col-" href="#">Community</a>
            <a class="footer-links col-md-4 col-sm- col-" href="#">Company</a>
          </div>
      </div>
      <div class="col-md-4">
        <a href="#"
          ><img
            src="assets/img/flaticon.png"
            alt="logo"
            width="136px"
            height="60px"
        /></a>
      </div>
      <div class="sub-links col-md-4">
        <div class="row">
        <a class="footer-links" href="#">Help Desk</a>
        <a class="footer-links" href="#">Blog</a>
        <a class="footer-links" href="#">Resources</a>
        </div>
      </div>
    </div>
    <div class="" id="join-us-button">
      <a href="#"><h5>Sell Your Merch With DoorPix</h5></a>
    </div>
    <div id="trademark">
      <p>Made with <span>❤</span> by DoorPix</p>
    </div>
  </div>
</div>

-->
