@media (min-width: 1200px)
{
    img{
    width: 100%;
    height: 510px;
    object-fit: cover;
    }
}
/*
@media (min-width: 992px)
img{
    width: 100%;
    height: 510px;
    object-fit: cover;
}
@media (min-width: 768px)
img{
    width: 100%;
    height: 510px;
    object-fit: cover;
}
@media (min-width: 576px)
img{
    width: 100%;
    height: 510px;
    object-fit: cover;
}*/