#navbar-bg {
    background-color: #e1d2f6;
    width: 100%;
    margin: 0px;
    margin-right: 0;
    padding: 0px;
    z-index: 4;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

app-footer {
    transform: translateY(-100px);
    padding: 0px;
}
.footer-div {
    background-color: #e2d5f6;
}
