<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9 col-sm-12 d-flex flex-column justify-content-center" id="address">
      <div class="d-flex justify-content-between address-heading">
        <h5>Deliver to:</h5>
        <p id="change-link">Change</p>
      </div>
      <div class="address-area">
        <p>
          House No. ##,<br />
          Vishwas Khand, Gomti Nagar, Lucknow, <br />
          Uttar Pradesh <br />226010
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 d-flex flex-column justify-content-center coupon-section">
      <input type="text" placeholder="COUPON CODE " />
      <button class="btn">APPLY</button>
    </div>
  </div>
  <div class="row d-flex justify-content-center ">
    <!--Product List-->
    <div class="col-md-9 col-sm-12 d-flex flex-column product-view">
      <h2>Order Summary</h2>
      <div class="d-flex flex-column products-box">
        <!--PRODUCT PREVIEW 1-->
        <div class="container d-flex justify-content-between product">
          <a href="">
            <div class="d-flex img">
              <img
                src="assets/img/cartimg1.png"
                alt="image"
                height="100px"
                width="100px"
              />
              <div class="d-flex flex-column product-details">
                <h5 class="product-name">Some Random Quote T shirt</h5>
                <p>Qty:<span>01</span> <br />Size:<span>XS</span></p>
                <div class="color-box"></div>
              </div>
            </div>
          </a>
          <div class="d-flex flex-column justify-content-between price">
            <h4>$789</h4>
            <p>Remove</p>
          </div>
        </div>
        <!--______________________________________________________________________________-->

        <!--PRODUCT PREVIEW 2-->
        <div class="container d-flex justify-content-between product">
          <a href="">
            <div class="d-flex img">
              <img
                src="assets/img/cartimg1.png"
                alt="image"
                height="100px"
                width="100px"
              />
              <div class="d-flex flex-column product-details">
                <h5 class="product-name">Some Random Quote T shirt</h5>
                <p>Qty:<span>01</span> <br />Size:<span>XS</span></p>
                <div class="color-box"></div>
              </div>
            </div>
          </a>
          <div class="d-flex flex-column justify-content-between price">
            <h4>$789</h4>
            <p>Remove</p>
          </div>
        </div>
        <!--______________________________________________________________________________-->

        <!--PRODUCT PREVIEW 2-->
        <div class="container d-flex justify-content-between product">
          <a href="">
            <div class="d-flex img">
              <img
                src="assets/img/cartimg1.png"
                alt="image"
                height="100px"
                width="100px"
              />
              <div class="d-flex flex-column product-details">
                <h5 class="product-name">Some Random Quote T shirt</h5>
                <p>Qty:<span>01</span> <br />Size:<span>XS</span></p>
                <div class="color-box"></div>
              </div>
            </div>
          </a>
          <div class="d-flex flex-column justify-content-between price">
            <h4>$789</h4>
            <p>Remove</p>
          </div>
        </div>
        <!--______________________________________________________________________________-->
      </div>
    </div>
    <!--______________________________________________________________________________-->
    <!--PRICE DETAILS-->
    <div class="col-md-3 col-sm-12 d-flex flex-column price-details">
      <h5>Price Details</h5>
      <div class="d-flex flex-column justify-content-start invoice">
        <div class="d-flex each-price">
          <p>Selling Price:</p>
          <span>700</span>
        </div>
        <div class="d-flex each-price">
          <p>Taxes:</p>
          <span>70</span>
        </div>
        <div class="d-flex each-price">
          <p>Shipping Cost:</p>
          <span>30</span>
        </div>
        <div class="d-flex each-price">
          <p>Discount:</p>
          <span>100</span>
        </div>
      </div>
      <hr/>
      <div class="d-flex each-price">
        <h6>Amount Payble:</h6>
        <span>700</span>
      </div>
      <button class="btn btn-danger">PAY NOW</button>
    </div>
  </div>
</div>
